<pro-header></pro-header>
<nz-card [nzBordered]="true">
    <div class="d-flex align-items-center mb-lg">
        <h3 class="flex-1 text-lg">商品审核</h3>
    </div>
    <button nz-button (click)="getAuditGoods()" [nzType]="'dashed'" [nzSize]="'large'" class="ant-btn__block mb-sm">
            <i class="anticon anticon-sync"></i>
            <span>刷新数据</span>
        </button>
    <nz-table #nzTable [nzDataSource]="audit_goods" [nzPageSize]="q.ps" [nzLoading]="loading" (nzDataChange)="dataChange($event)"
        (nzPageIndexChange)="pageChange($event)">
        <thead nz-thead>
            <tr>
                <th nz-th>
                    <span>商品名称</span>
                </th>
                <th nz-th>
                    <span>经销商</span>
                </th>
                <th nz-th>
                    <span>审核类型</span>
                </th>
                <th nz-th>
                    <span>创建日期</span>
                </th>
                <th nz-th>
                    <span>更新日期</span>
                    <nz-table-sort [(nzValue)]="sortMap.updatedAt" (nzValueChange)="sort('updatedAt',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>操作</span>
                </th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let i of nzTable.data">
                <td nz-td>{{i.goods.name}}</td>
                <td nz-td>{{i.goods.distributor.name}}</td>
                <td nz-td>{{i.type == 'create'? '创建商品':'修改商品'}}</td>
                <td nz-td>{{i.createdAt | _date}}</td>
                <td nz-td>{{i.updatedAt | _date}}</td>
                <td nz-td>
                    <nz-list>
                        <nz-list-item>
                            <nz-list-item-action>
                                <nz-dropdown>
                                    <a class="ant-dropdown-link" nz-dropdown>
                                        操作
                                        <i class="anticon anticon-down"></i>
                                    </a>
                                    <ul nz-menu>
                                        <li nz-menu-item (click)="showAuditModal(i)">审核</li>
                                    </ul>
                                </nz-dropdown>
                            </nz-list-item-action>
                        </nz-list-item>
                    </nz-list>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>

<nz-modal *ngIf="currentAudit" [nzVisible]="modalAudit" [nzStyle]="{'margin-top':'3%'}" [nzWrapClassName]="'modal-lg'" [nzCancelText]="'取消'"
    [nzOkText]="'通过审核'" [nzTitle]="'审核商品'" [nzConfirmLoading]="loading" [nzContent]="modalContent" (nzOnCancel)="modalAudit=false"
    (nzOnOk)="doAudit()">
    <ng-template #modalContent>
            <nz-card [nzNoHovering]="true" [nzBordered]="false">
                    <ng-template #body>
                        <desc-list size="large" title="商品信息" class="mb-lg" col="2">
                            <desc-list-item term="商品名称">{{currentAudit.goods.name}}</desc-list-item>
                            <desc-list-item term="类型">{{currentAudit.goods.type_ele.name}}</desc-list-item>
                            <desc-list-item term="单位">{{currentAudit.goods.unit}}</desc-list-item>
                            <desc-list-item term="最低报价">￥{{currentAudit.goods.priceStart}}</desc-list-item>
                            <desc-list-item term="最高报价">￥{{currentAudit.goods.priceEnd}}</desc-list-item>
                            <desc-list-item term="提审日期">￥{{currentAudit.createdAt | _date}}</desc-list-item>
                            <desc-list-item term="商品简介">￥{{currentAudit.goods.intro}}</desc-list-item>
                        </desc-list>
                        <nz-divider class="mb-lg"></nz-divider>
                        <desc-list size="large" title="商品规格" class="mb-lg" col="1">
                                <desc-list-item term="规格信息">{{currentAudit.goods.specDesc}}</desc-list-item>
                        </desc-list>
                        <nz-divider class="mb-lg"></nz-divider>
                        <desc-list size="large" title="经销商信息" class="mb-lg" col="2">
                          <desc-list-item term="经销商名字">{{currentAudit.goods.distributor.name}}</desc-list-item>
                          <desc-list-item term="地址">{{currentAudit.goods.distributor.address}}</desc-list-item>
                          <desc-list-item term="联系人">{{currentAudit.goods.distributor.contact}}</desc-list-item>
                          <desc-list-item term="联系电话">{{currentAudit.goods.distributor.contactPhone}}</desc-list-item>
                          <desc-list-item term="简介">{{currentAudit.goods.distributor.intro}}</desc-list-item>
                        </desc-list>
                        <nz-divider class="mb-lg"></nz-divider>
                        <p *ngFor="let p of currentAudit.goods.photos_arr">
                            <img src="http://{{p}}"/>
                        </p>
                        <nz-divider class="mb-lg"></nz-divider>
                        <nz-input [nzType]="'textarea'" nzPlaceHolder="拒绝原因（或修改意见）" name="reason" [nzId]="'reason'" [(ngModel)]="reason"></nz-input>
                        <br>
                        <button nz-button [nzType]="'danger'" class="mr-sm" [nzSize]="'large'" (click)="reject()">
                                <i class="fa fa-close"></i>
                                拒绝（审核不通过）
                        </button>
                    </ng-template>
                </nz-card>
    </ng-template>
</nz-modal>
