<div class="container">
    <div class="top">
        <div class="head">
            <a [routerLink]="['/']">
                <img class="logo" src="./assets/img/daocheng.png">
                <span class="title">稻成</span>
            </a>
        </div>
        <p class="desc">稻成水稻一体化管理平台管理员登录</p>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
        <ng-template #copyright>
            Copyright <nz-icon nzType="copyright"></nz-icon> {{year}} <a href="javascript:;" target="_blank">臻粮农业</a>
        </ng-template>
    </global-footer>
</div>
