<pro-header></pro-header>
<nz-card [nzBordered]="true">
    <div class="d-flex align-items-center mb-lg">
        <h3 class="flex-1 text-lg">专家列表</h3>
        <div>
            <nz-radio-group [(ngModel)]="q.status" [nzSize]="'large'" class="mr-md" name="qStatus">
                <label nz-radio-button [nzValue]="'validate'">
                    <span>已开通</span>
                </label>
                <label nz-radio-button [nzValue]="'novalidate'">
                    <span>未开通</span>
                </label>
            </nz-radio-group>
            <nz-input [nzType]="'search'" [nzPlaceHolder]="'请输入'" [(ngModel)]="q.term" [nzSize]="'large'" style="width: 272px" (keyup.enter)="onSearch()"></nz-input>
        </div>
    </div>
    <button nz-button (click)="getExperts()" [nzType]="'dashed'" [nzSize]="'large'" class="ant-btn__block mb-sm">
        <i class="anticon anticon-sync"></i>
        <span>刷新数据</span>
    </button>
    <nz-table #nzTable [nzDataSource]="validate_experts" [nzPageSize]="q.ps" [nzLoading]="loading" *ngIf="q.status == 'validate'"
        (nzDataChange)="dataChange($event)" (nzPageIndexChange)="pageChange($event)">
        <thead nz-thead>
            <tr>
                <th nz-th>
                    <span>头像</span>
                </th>
                <th nz-th>
                    <span>用户名</span>
                </th>
                <th nz-th>
                    <span>昵称</span>
                </th>
                <th nz-th>
                    <span>身份</span>
                </th>
                <th nz-th>
                    <span>电话</span>
                </th>
                <th nz-th>
                    <span>地址</span>
                </th>
                <th nz-th>
                    <span>更新日期</span>
                    <nz-table-sort [(nzValue)]="sortMap.updatedAt" (nzValueChange)="sort('updatedAt',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>操作</span>
                </th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let i of nzTable.data">
                <td nz-td>
                    <nz-avatar [nzSrc]="i.picture" [nzSize]="'large'" [nzShape]="'square'"></nz-avatar>
                </td>
                <td nz-td>{{i.userName}}</td>
                <td nz-td>{{i.nickName}}</td>
                <td nz-td *ngIf="i.roleName">{{i.roleName}}</td>
                <td nz-td>{{i.phone}} </td>
                <td nz-td>{{i.province}}/{{i.city}}/{{i.area}}</td>
                <td nz-td>{{i.updatedAt | _date}}</td>
                <td nz-td>
                    <nz-list>
                        <nz-list-item>
                            <nz-list-item-action>
                                <a (click)="view(i)">查看</a>
                            </nz-list-item-action>
                            <nz-list-item-action>
                                <nz-dropdown>
                                    <a class="ant-dropdown-link" nz-dropdown>
                                        操作
                                        <i class="anticon anticon-down"></i>
                                    </a>
                                    <ul nz-menu>
                                        <li nz-menu-item (click)="showEditModal(i)">编辑信息</li>
                                        <li nz-menu-item (click)="stopUser(i)">停用账户</li>
                                    </ul>
                                </nz-dropdown>
                            </nz-list-item-action>
                        </nz-list-item>
                    </nz-list>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <nz-table #nzTable [nzDataSource]="novalidate_experts" [nzPageSize]="q.ps" [nzLoading]="loading" *ngIf="q.status == 'novalidate'"
        (nzDataChange)="dataChange($event)" (nzPageIndexChange)="pageChange($event)">
        <thead nz-thead>
            <tr>
                <th nz-th>
                    <span>头像</span>
                </th>
                <th nz-th>
                    <span>用户名</span>
                </th>
                <th nz-th>
                    <span>昵称</span>
                </th>
                <th nz-th>
                    <span>身份</span>
                </th>
                <th nz-th>
                    <span>地址</span>
                </th>
                <th nz-th>
                    <span>更新日期</span>
                    <nz-table-sort [(nzValue)]="sortMap.updatedAt" (nzValueChange)="sort('updatedAt',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>操作</span>
                </th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let i of nzTable.data">
                <td nz-td>
                    <nz-avatar [nzSrc]="i.picture" [nzSize]="'large'" [nzShape]="'square'"></nz-avatar>
                </td>
                <td nz-td>{{i.userName}}</td>
                <td nz-td>{{i.nickName}}</td>
                <td nz-td *ngIf="i.roleName">{{i.roleName}}</td>
                <td nz-td>{{i.province}}/{{i.city}}/{{i.area}}</td>
                <td nz-td>{{i.updatedAt | _date}}</td>
                <td nz-td>
                    <nz-list>
                        <nz-list-item>
                            <nz-list-item-action>
                                <a (click)="view(i)">查看</a>
                            </nz-list-item-action>
                            <nz-list-item-action>
                                <nz-dropdown>
                                    <a class="ant-dropdown-link" nz-dropdown>
                                        操作
                                        <i class="anticon anticon-down"></i>
                                    </a>
                                    <ul nz-menu>
                                        <li nz-menu-item (click)="showEditModal(i)">编辑信息</li>
                                        <li nz-menu-item (click)="startUser(i)">启用账户</li>
                                    </ul>
                                </nz-dropdown>
                            </nz-list-item-action>
                        </nz-list-item>
                    </nz-list>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>

<nz-modal *ngIf="currentExpert" [nzVisible]="modalVisible3" [nzStyle]="{'margin-top':'3%'}" [nzWrapClassName]="'modal-lg'"
    [nzCancelText]="'取消'" [nzOkText]="'确定'" [nzTitle]="'用户信息('+currentExpert.nickName+')'" [nzConfirmLoading]="loading" [nzContent]="modalContent"
    (nzOnCancel)="modalVisible3=false" (nzOnOk)="viewOk()">
    <ng-template #modalContent>
        <fieldset>
            <legend>基础信息</legend>
            <div nz-row [nzGutter]="24">
                <form nz-form [nzLayout]="'inline'">
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="userName">用户名</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpert.userName" name="userName" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="userName"
                                    disabled="disabled"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="nickName">昵称</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpert.nickName" name="nickName" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="nickName"
                                    disabled="disabled"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="roleName">身份</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpert.roleName" name="roleName" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="roleName"
                                    disabled="disabled"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="phone">电话</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpert.phone" name="phone" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="phone" disabled="disabled"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="province">省 </label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpert.province" name="province" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="province"
                                    disabled="disabled"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="city">市</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpert.city" name="city" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="city" disabled="disabled"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="area">区</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpert.area" name="area" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="area" disabled="disabled"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="updatedAt">通过审核日期</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                {{currentExpert.updatedAt | _date}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <fieldset>
            <legend>专家信息</legend>
            <div nz-row [nzGutter]="24">
                <form nz-form [nzLayout]="'inline'" *ngIf="currentExpertUser">
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="name">真实姓名</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpertUser.name" name="name" [nzSize]="'large'" [nzPlaceHolder]="'尚未填写'" nzId="name" disabled="disabled"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="domain">领域</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpertUser.domain" name="domain" [nzSize]="'large'" [nzPlaceHolder]="'尚未选择'" nzId="domain" disabled="disabled"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="userName">积分</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpertUser.score" name="score" [nzSize]="'large'" nzId="score" disabled="disabled"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="userName">级别</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpertUser.level" name="level" [nzSize]="'large'" nzId="level" disabled="disabled"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="24" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="userName">简介</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpertUser.intro" name="intro" nzType="textarea" [nzAutosize]="autosize" nzPlaceHolder="尚未填写简介" disabled="disabled"></nz-input>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
    </ng-template>
</nz-modal>

<nz-modal *ngIf="currentExpert" [nzVisible]="modalEdit" [nzStyle]="{'margin-top':'3%'}" [nzWrapClassName]="'modal-lg'" [nzCancelText]="'取消'"
    [nzOkText]="'确认修改'" [nzTitle]="'用户信息('+currentExpert.nickName+')'" [nzConfirmLoading]="loading" [nzContent]="modalContent1"
    (nzOnCancel)="modalEdit=false" (nzOnOk)="doEditExpert()">
    <ng-template #modalContent1>
        <fieldset>
            <legend>基础信息</legend>
            <div nz-row [nzGutter]="24">
                <form nz-form [nzLayout]="'inline'">
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="userName">用户名</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpert.userName" name="userName" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="userName"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="nickName">昵称</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpert.nickName" name="nickName" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="nickName"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="roleName">身份</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpert.roleName" name="roleName" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="roleName"
                                    disabled="disabled"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="phone">电话</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpert.phone" name="phone" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="phone"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="province">省 </label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpert.province" name="province" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="province"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="city">市</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpert.city" name="city" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="city"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="area">区</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="currentExpert.area" name="area" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="area"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label>
                                <label for="updatedAt">通过审核日期</label>
                            </div>
                            <div nz-form-control class="flex-1">
                                {{currentExpert.updatedAt | _date}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <fieldset>
                <legend>专家信息</legend>
                <div nz-row [nzGutter]="24">
                    <form nz-form [nzLayout]="'inline'" *ngIf="currentExpertUser">
                        <div nz-col [nzSpan]="12" class="mb-md">
                            <div nz-form-item class="d-flex">
                                <div nz-form-label>
                                    <label for="name">真实姓名</label>
                                </div>
                                <div nz-form-control class="flex-1">
                                    <nz-input [(ngModel)]="currentExpertUser.name" name="name" [nzSize]="'large'" [nzPlaceHolder]="'尚未填写'" nzId="name"></nz-input>
                                </div>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="12" class="mb-md">
                            <div nz-form-item class="d-flex">
                                <div nz-form-label>
                                    <label for="domain">领域</label>
                                </div>
                                <div nz-form-control class="flex-1">
                                    <nz-input [(ngModel)]="currentExpertUser.domain" name="domain" [nzSize]="'large'" [nzPlaceHolder]="'尚未选择'" nzId="domain"></nz-input>
                                </div>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="12" class="mb-md">
                            <div nz-form-item class="d-flex">
                                <div nz-form-label>
                                    <label for="userName">积分</label>
                                </div>
                                <div nz-form-control class="flex-1">
                                    <nz-input [(ngModel)]="currentExpertUser.score" name="score" [nzSize]="'large'" nzId="score" disabled="disabled"></nz-input>
                                </div>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="12" class="mb-md">
                            <div nz-form-item class="d-flex">
                                <div nz-form-label>
                                    <label for="userName">级别</label>
                                </div>
                                <div nz-form-control class="flex-1">
                                    <nz-input [(ngModel)]="currentExpertUser.level" name="level" [nzSize]="'large'" nzId="level" disabled="disabled"></nz-input>
                                </div>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="24" class="mb-md">
                            <div nz-form-item class="d-flex">
                                <div nz-form-label>
                                    <label for="userName">简介</label>
                                </div>
                                <div nz-form-control class="flex-1">
                                    <nz-input [(ngModel)]="currentExpertUser.intro" name="intro" nzType="textarea" [nzAutosize]="autosize" nzPlaceHolder="尚未填写简介"></nz-input>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
    </ng-template>
</nz-modal>